*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &.overflow {
        overflow: hidden;
    }
}

.content {
    flex: 1 0 auto;
    padding-top: 65px;
    padding-bottom: 38px;
    @media(min-width: $md) {
        padding-top: 100px;
        padding-bottom: 68px;
    }
    @media(min-width: $fhd) {
        padding-bottom: 108px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px;
    padding-left: 16px;
    padding-right: 16px;
    @media(min-width: $fhd) {
        max-width: 1702px;
    }
}

.footer {
    flex-shrink: 0;
}