<footer class="footer">
    <div class="footer__inner">
        <div class="footer__left">
            <ul class="footer__menu *footer__menu--big*">
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="#">Где купить</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="#">О нас</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="#">Новости</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="#">Рецепты</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="#">Как сделать заказ?</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="#">Вопросы и ответы</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="#">Сотрудничество</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="#">Контакты</a>
                </li>

                <li class="footer__menu-item footer__menu-item--mobile">
                    <a class="footer__menu-link" href="tel:+78006345453">8 (800) 634-54-53</a>
                </li>
                <li class="footer__menu-item footer__menu-item--mobile">
                    <a class="footer__menu-link" href="#" target="_blank" title="Мы Вконтакте">
                        <svg aria-hidden="true">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__right">
            <p class="footer__title">Подпишись на получение новостей</p>
            <form class="footer__subscribe" action="">
                <div class="footer__subscribe-inner">
                    <input class="footer__subscribe-input" type="text" placeholder="Ваш email">
                    <button class="footer__subscribe-submit" type="submit">Отправить</button>
                </div>
            </form>
            <p class="footer__links">
                <a href="tel:+78006345453">8 (800) 634-54-53</a>
                <a href="mailto:pochta@gmail.com">pochta@gmail.com</a>
            </p>
        </div>
        <p class="footer__copyright">Copyright</p>
    </div>
</footer>