<header class="header">
    <div class="header__inner">
        <button class="js-menu-toggler header__button header__button--menu_opener" type="button" title="Открыть меню">
            <svg aria-hidden="true">
                <use xlink:href="#burger"></use>
            </svg>
        </button>

        <nav class="main-menu">
            <ul class="main-menu__list">
                <li class="main-menu__list-item">
                    <a class="js-main-menu-root main-menu__link main-menu__link--root is-active" href="#">каталог</a>
                    <div class="submenu">
                        <button class="js-submenu-closer submenu__close" type="button" title="Закрыть меню">
                            <svg aria-hidden="true">
                                <use xlink:href="#close"></use>
                            </svg>
                        </button>
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--title" href="#">Все категории</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="#">Низкокалорийные джемы с пребиотиком</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="#">Низкокалорийные джемы с пребиотиком Gourmet</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="#">Низкокалорийные сиропы для кофе 500мл</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="#">Низкокалорийные сиропы с пребиотиком</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="#">Низкокалорийные соусы с пребиотиком</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="#">Соусы майонезные НОЛЬ ГРАММ VEGAN SERIES</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="#">Соусы Ноль Грамм Chef Series</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu__list-item"><a class="main-menu__link" href="#">о нас</a></li>
                <li class="main-menu__list-item"><a class="main-menu__link" href="#">где купить</a></li>
            </ul>
        </nav>

        <div class="header-search">
            <form class="header-search__form" action="">
                <input class="header-search__input" type="text" placeholder="Поиск">
                <button class="header-search__submit" type="submit" title="Искать">
                    <svg aria-hidden="true">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>
        </div>

        <button class="js-search-toggler header__button header__button--search_opener" type="button" title="Открыть поиск">
            <svg aria-hidden="true">
                <use xlink:href="#search"></use>
            </svg>
        </button>

        <div class="header__contacts">
            <a class="header__social" href="#" target="_blank" title="Мы Вконтакте">
                <svg aria-hidden="true">
                    <use xlink:href="#vk"></use>
                </svg>
            </a>
            <a class="header__phone" href="tel:+78006345453">Контакты: <span>8 (800) 634-54-53</span></a>
        </div>
    </div>
</header>