.footer {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    line-height: 1.25;
    padding-top: 43px;
    padding-bottom: 65px;
    @media(min-width: $md) {
        padding-top: 60px;
        padding-bottom: 33px;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:active,
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    &__inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 1394px;
        padding-left: 32px;
        padding-right: 32px;
        @media(min-width: $md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media(min-width: $fhd) {
            max-width: 1744px;
        }
    }

    &__left {
        @media(min-width: $md) {
            padding-right: 20px;
            width: 60%;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        @media(min-width: $sm) {
            columns: 2;
            max-width: 460px;
        }

        &--big {
            @media(min-width: $md) {
                columns: 3;
                max-width: 780px;
            }
        }
    }

    &__menu-item {
        margin-bottom: 21px;

        &--mobile {
            @media(min-width: $md) {
                display: none;
            }
        }
    }

    &__menu-link {
        white-space: nowrap;

        svg {
            display: block;
            fill: #fff;
            height: 32px;
            width: 32px;
        }
    }

    &__right {
        @media(min-width: $md) {
            max-width: 390px;
            width: 40%;
        }
    }

    &__title {
        font-weight: 500;
        @media(min-width: $md) {
            font-size: 20px;
        }

        &:not(:last-child) {
            margin-bottom: 29px;
            @media(min-width: $md) {
                margin-bottom: 24px;
            }
        }
    }

    &__subscribe {
        margin-bottom: 38px;
    }

    &__subscribe-inner {
        @media(min-width: $sm) {
            display: flex;
        }
    }

    &__subscribe-input {
        border: 1px solid #fff;
        border-radius: 4px;
        background-color: transparent;
        color: #fff;
        font-size: 16px;
        flex-grow: 1;
        height: 38px;
        margin-bottom: 21px;
        padding: 0 16px;
        width: 100%;
        @media(min-width: $sm) {
            margin-bottom: 0;
            margin-right: 12px;
        }

        &::placeholder {
            color: #fff;
            opacity: 1;
        }

        &::-ms-input-placeholder {
            color: #fff;
            opacity: 1;
        }
    }

    &__subscribe-submit {
        background-color: #fff;
        border: none;
        border-radius: 4px;
        color: #000;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        flex-grow: 1;
        height: 38px;
        padding-left: 20px;
        padding-right: 20px;
        transition: background-color 0.3s, color 0.3s;
        width: 100%;
        @media(min-width: $sm) {
            width: 130px;
        }

        &:focus,
        &:hover {
            background-color: #989898;
            color: #fff;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        @media(min-width: $md) {
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
        }

        a {
            &:not(:last-child) {
                margin-bottom: 16px;
                @media(min-width: $md) {
                    margin-right: 42px;
                }
            }
        }
    }

    &__copyright {
        color: #989898;
        margin-top: 47px;
        text-align: center;
        width: 100%;
        @media(min-width: $md) {
            margin-top: 60px;
        }
    }
}