.form {
    @media(min-width: $sm) {
        display: flex;
        margin-left: -6px;
        margin-right: -6px;
    }

    &__column {
        @media(min-width: $sm) {
            padding-left: 6px;
            padding-right: 6px;
            width: 50%;
        }

        &:not(:last-child) {
            margin-bottom: 9px;
            @media(min-width: $sm) {
                margin-bottom: 0;
            }
        }
    }

    &__button-block {
        min-height: 55px;
        @media(min-width: $sm) {
            align-items: flex-end;
            display: flex;
            justify-content: flex-end;
        }
        @media(min-width: $fhd) {
            height: 66px;
        }
    }

    .input-label {
        &:not(:last-child) {
            margin-bottom: 9px;
            @media(min-width: $fhd) {
                margin-bottom: 12px;
            }
        }
    }

    .button {
        width: 100%;
        @media(min-width: $sm) {
            max-width: 283px;
        }
    }
}