.recipes-slider {
    margin-bottom: 64px;

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        margin-top: 25px;
        position: static;
        @media(min-width: $hd) {
            margin-top: 38px;
        }
    }

    .swiper-pagination-bullet {
        border: 1px solid #000;
        background-color: transparent;
        height: 12px;
        opacity: 1;
        width: 12px;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin-left: 6px;
        margin-right: 6px;
    }

    .swiper-pagination-bullet-active {
        background-color: #000;
    }

    .swiper-slide {
        @media(min-width: 992px) {
            width: auto !important;
        }
    }
}

.recipe {
    display: block;
    text-decoration: none;

    &:focus,
    &:hover {
        img {
            transform: scale(1.01);
        }
    }

    &__image,
    &__text,
    &__title {
        display: block;
    }

    &__image {
        margin-bottom: 16px;

        img {
            min-height: 328px;
            object-fit: cover;
            object-position: center;
            transform: scale(1);
            transition: transform 0.3s;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
        @media(min-width: $md) {
            padding-left: 0;
            padding-right: 0;
        }
        @media(min-width: $fhd) {
            font-size: 48px;
        }
    }

    &__text {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        @media(min-width: $md) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}